<launch>
  <!-- Start the node -->
  <node name="auto_car_ctrl_node" pkg="auto_car_ctrl" type="auto_car_ctrl_node" />
  
  <!-- Start the arduino communication -->
  <arg name="arduino_port" default="/dev/ttyACM0" />
  <node name="arduino_comm" pkg="rosserial_python" type="serial_node.py" args="$(arg arduino_port)" />
  
  <!-- Start the lidar -->
  <include file="$(find ydlidar_ros)/launch/X4.launch" />
</launch>
